* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    #7bc4ca 0%,
    #a5cbce 21.7%,
    #c6cbd1 38.39%,
    #dccbd3 56.24%,
    #f4bfc9 81.49%,
    #fab8c2 100%
  );
  height: max-content;
  min-height: 150vh;
  background-repeat: repeat-x;
}

#root {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.mainLink {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  background: linear-gradient(
    90deg,
    #ef96c5 0%,
    rgba(239, 150, 197, 0.35) 54.17%,
    rgba(239, 150, 197, 0) 100%
  );
  color: #ccfbff;
  font-weight: bold;
  font-size: x-large;
  margin: 12px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 30vw;
  transition: all 0.3s;
}

.mainLink:hover {
  background: #ef96c5;
  margin-left: 20px;
}
