.line {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tweet {
    padding: 16px;
    border-top: 1px solid rgba(161, 171, 179, 0.493);
    border-bottom: 1px solid rgba(161, 171, 179, 0.493);

}

.profile-photo-box {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-right: 12px;
}

.profile-photo { 
    border-radius: 100%;
    width: 48px;
}

.main-info {
    width: 100%;
}

.top {
    justify-content: space-between;
    width: auto;
}

.name {
    font-size: 15px;
    color: black;
    padding-right: 4px;
}

.nickname, .date {
    font-size: 15px;
    color: #536471;
}
.nickname {
    overflow-wrap: break-word;
}

.dot {
    margin: 0 2px;
}

.dropdown {
    width: 1.25em;
    cursor: pointer;
}

.bottom {
    justify-content: space-between;
}

.ico {
    width: 1.25em;
    cursor: pointer;
}

